###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> cs fixer ###
/tools/php-cs-fixer/vendor/
.php-cs-fixer.cache
###< cs fixer ###

###> phpstorm ###
.idea
###< phpstorm ###
